<h1>Welcome to Burns Burgers!</h1>

<div class="flex-container">
    <h4>Burger Menu:</h4>
        <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
              {{/unless}}
            {{/each}}
        </ul>

    <form class="create-form">
        <input type="text" id="input" name="name">
        <button type="submit" id="submit-btn">Create</button>
    </form>

    <h4>Devoured:</h4>
        <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block devour=false}}
              {{/if}}
            {{/each}}
        </ul>
</div>